.button {
  background-color: #ffffff;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #111827;
  font: inherit;
  line-height: 1rem;
  width: 6rem;
  text-align: center;
  padding: 1rem;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: rgb(249, 250, 251);
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:focus-visible {
  box-shadow: none;
}

.button:disabled {
  background-color: #e5e7eb;
  color: #6b7280;
  cursor: not-allowed;
}
