.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  width: 100%;

  select {
    margin-left: 20px;
  }

  button {
    margin: 0 5px;
    cursor: pointer;
    min-width: 0 !important;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    &.active {
      background-color: #3f51b5;
      color: white;
    }
  }
}
