.search-field {
  height: 25%;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 50px;
  padding-top: 10px;
  text-align: center;
  color: white;
  position: sticky;
  top: 0;
  z-index: 9999;

  .search-input {
    width: 60%;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    outline: none;
    text-indent: 20px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);

    border: 2px solid #fff;
    outline: none;
    transition: border-color 0.1s;

    &:focus {
      border-color: #011275;
    }
  }

  .search-label {
    display: block;
    text-align: center;
    width: 45%;
    padding-top: 5px;
    font-size: 12px;
  }

  .search-icon {
    position: absolute;
    color: black;
    top: 20px;
    font-size: 20px;
    left: 21%;
  }
}
