select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  padding: 1rem 1rem 1rem 1rem;
  color: black;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  width: 50px;
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }

  option {
    color: black;
    background-color: black;
  }
}
