// external imports
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

// colors
$mainBlack: #000;
$mainWhite: #fff;
$primaryColor: lightseagreen;

// theme
$mainFont: 'Montserrat', sans-serif;
$titleFont: 'Raleway', sans-serif;
